/* colour variables 
mobile px 768px */

:root {
    --color-White: rgb(255, 255, 255);
    --color-Blue: blue;
}

body {
    background-color: var(--color-White);
}
.navbar {
    background-color: magenta;
    margin: 0px;

}
.splash-container {
    background-color: green;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.splash-container .float-left {
    background-color: black;
    display: inline
}
.splash-container .float-right {
    background-color: red;
}

.flex-container{
    margin: 0 20px;
    color: white;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}





.sidebar{
    background-color: red;
    flex: 1;
    align-self: baseline;
}
.content-main{
    background-color: green;
    flex: 3;
  
}

@media screen and (max-width: 768px) {
   .flex-container {
       flex-direction: column;
   }
    .content-main {
     
    }
    .sidebar {
     
    }

    }

.article-one {
background-color: magenta;
display: flex;
justify-content: center;
padding: 10px;
}
.image-one  {
    position: relative;
    padding: 0px;
    border: 8px solid blue;
    align-self: base;
    height: 260px;
    width: 90%;
}

.article-about {
    text-align: center;
    background-color: yellow;
    
}
.profilePic{
    height: auto;
    width: 70%;
    border: 8px solid blue;
    border-radius: 400px;
    

}